body {
   margin: 0;
   padding: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

div.ui.grid {
   display: flex;
   justify-content: center;
   margin-top: 30px;
}

.imageContainer * {
   position: relative;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
.imageContainer:hover img {
   opacity: 0.3;
   filter: grayscale(100);
}
.imageAction {
   position: absolute;
   z-index: 1000;
}
.imageContainer .imageAction {
   transform: translate(90%, -600%) scale(0);
}
.imageContainer:hover .imageAction {
   transform: translate(90%, -600%) scale(1);
}

.photoDetailContainer {
   display: flex;
   justify-content: space-between;
   overflow: none;
   position: relative;
   margin-top: 100px;
   min-height: 0;
}
.commentContainer {
   overflow: none;
   position: relative;
   margin-right: 40px;
   margin-left: 20px;
   width: 90%;
}

.commentMessageContainer {
   height: 40vh;
   overflow: auto;
   display: flex;
   flex-direction: column-reverse;
}
.ui .fluid .action .input > input {
   border-color: #767676 !important;
}

h1 {
   font-size: 18px !important;
   font-weight: 300 !important;
   font-family: "Pacifico", cursive !important;
}

.avatar {
   width: 50px;
   height: 50px;
   float: right;
   border-radius: 50%;
   border: 0.5px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   font-size: 20px;
}

.commentAvatar {
   width: 30px !important;
   height: 30px !important;
   border-radius: 4px;
   border: 0.5px solid black;
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
   text-transform: uppercase;
   font-size: 14px;
   margin-right: 10px;
}

div.content {
   width: 100% !important;
}

.infoContainer {
   display: flex;
   justify-content: space-between;
}

.userPostsImage {
   width: 100%;
   height: 200px;
   object-fit: cover;
   cursor: pointer;
   transition: all 0.2s;
}
.userPostsImage:hover {
   opacity: 0.8;
   filter: grayscale(100);
}
